body {}

.score {
    background-color: #6c48D7;
    color: #ffffff;
    float: left;
    padding: 20px;
    width: 100%;
}

.header {
    background-color: #6c48d7;
    color: #ffffff;
    text-align: center;
}

.generated {
    background-color: #ffab00;
    color: #fff;
    float: left;
    padding: 20px;
    width: 100%;
    margin-bottom: 10px;
    margin-left: 18px;
}

.well {
    margin-left: 30px;
}

.footsie {
    height: 60px;
    background-color: #f5f5f5;
    opacity: 0.5;
    text-align: center;
}